body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f0e6; /* Morandi background */
    color: #333;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #ffffff; /* White background for the container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #A8B8B0; /* Morandi color */
    font-size: 2.5em;
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

#station-info {
    background-color: #e1d9d1; /* Lighter Morandi color */
    padding: 15px;
    border-radius: 5px;
}

#station-info p {
    margin: 5px 0;
}

#loading {
    font-weight: bold;
}

canvas {
    background: #ffffff; /* White background for chart */
    border-radius: 5px;
}